<!DOCTYPE html>
<html>
  <head>
    <!-- Matjax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>

    <!-- CSS code -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- To activate media queries in devices -->
    <meta
      name="viewport"
      content="user-scalable=yes, width=device-width, initial-scale=1"
    />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>home</title>
    {% endif %}
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='assets/carbon_logo.svg') }}"
            alt="carbno app logo"
          />

          <span class="text-logo"> Carbon App</span>
        </div>
        <nav>
          <ul>
            <li>
              <a href="{{url_for('home.home_home')}}">Home</a>
            </li>
            <li>
              <a href="{{url_for('methodology.methodology_home')}}"
                >Methology</a
              >
            </li>
            <li>
              <a href="{{url_for('carbon_app.carbon_app_home')}}">Carbon App</a>
            </li>
          </ul>
        </nav>

        <div class="account-container">
          <li>
            <a href="{{url_for('users.register')}}">Register</a>
          </li>
          <li class="login">
            <a href="{{url_for('users.login')}}">Login</a>
          </li>
        </div>
      </div>
    </div>

    {% block content %} {% endblock %}

    <section class="section_footer">
      <div class="container"></div>
    </section>
  </body>
</html>
